@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=VT323);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

body {
	font-family: "Press Start 2P", sans-serif;
	font-size: 12pt;
	padding: 0;
	margin: 0;
	min-height: 2000px;
}

body.lame {
	font-family: "Roboto", sans-serif;
}

canvas.portrait, img.portrait {
	border-radius: 50%;
	margin-bottom: 10px;
	background-color: #eee;
	width: 100px;
	height: 100px;
}

.header {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 20px;
	margin-bottom: 30px;
	border-bottom: 5px dashed #404040;
}

.title {
	font-size: 20pt;
	margin-bottom: 15px;
}


.username input {
	border: 0;
	font-family: "Press Start 2P", sans-serif;
	font-size: 12pt;
	border-bottom: black 4px solid;
	padding-bottom: 3px;
	text-align: center;
}

.username input:focus {
	outline-width: 0;
}

.candidatePane{ 

}

.chatPane {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border-left: 5px dashed #404040;
    padding-left: 20px;
	padding-top: 10px;
}

	.chatPane.floating {
		position: fixed;
		top: 0;
		right: 56px;
	}
	
#chatPane ul {
	list-style: none;
	padding: 0;
	font-family: "VT323", sans-serif;
	height: 70%;
	overflow-y: scroll;
}

#chatPane ul li {
	margin-bottom: 5px;
	font-size: 12pt;
}

	#chatPane ul li.low {
		color: #999;
	}

#chatText {
	border: 0;
	height: 10%;
	width: 80%;
	position: absolute;
	bottom: 5%;
	left: 5%;
	padding: 2% 5%;
	background-color: #222222;
	color: white;
	font-family: "VT323", sans-serif;
	font-size: 12pt;
}


.candidatePane {
	display: inline-block;
}

.subtitle {
	width: 80%;
	margin: 0px auto 10px;
	text-align: center;
	padding: 10px;
	background-color: #404040;
	color: white;
	line-height: 1.4em;
}

ul.candidates {
	list-style: none;
	text-align: center
}

.counter {
	margin-bottom: 10px;
}

.candidates .candidate {
	display: inline-block;
	margin: 0px 10px 20px 0px;
	text-align: center;
	cursor: pointer;
}

.candidates .candidate.talking canvas, .candidates .candidate.talking img  {
	background-color: red;
}

.lame .header {
	border-bottom: 1px solid #ccc;
	box-shadow: 0px 0px 10px black;
}

.lame .title {
	font-weight: 900;
	font-size: 30pt;
}

.lame .username input {
	border: 1px dotted #404040;
	font-family: Roboto, sans-serif;
	padding: 5px;
	margin-left: 10px;
	display: inline-block;
}

.lame .subtitle {
	font-size: 14pt;
}

.lame #chatPane {
	border-left: 1px solid #ccc;
}

.lame #chatPane li {
	font-family: Roboto, sans-serif;
	font-size:11pt;
	font-weight: 300;
	margin-bottom: 15px;
}

.lame #chatText{
	background-color: #eee;
	border: 1px solid #ccc;
	font-family: Roboto, sans-serif;
	color: #999;
}

.lame img.portrait {
	border: 10px solid #eee;
	background-color: white-space: normal/pre/nowrap;;
}

.lame .candidates .candidate.talking img {
	background-color: #EA463D;
	border: 10px solid #952326;
}